<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <title>index</title>
  </head>
  <body>
    <h2>hello express</h2>
    <script>
      axios
        .post("https://localhost:60001/users/login", {
          js_code: "021VfWfu0OeBXh1Fg4gu0Nlhgu0VfWfl"
        })
        .then(console.log)
        .catch(console.log);
    </script>
  </body>
</html>
